<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/weather.png"> 
    <link rel="stylesheet" href="/css/styles.css">

    <title>About</title>
</head>
<body>
    <div class="main-content">

    {{>header}}
        <p>Hey folks. This is Akki. I made a Weather App using nodejs as backend. I know UI is not that great. But I'm focusing more on backend for now.</p>
        <p>Hope you like the WeatherApp. </p>
    </div>
    <div>{{>footer}}</div>
</body>
</html>